.starry-empty {
    .starry-result-icon-normal {
        color: var(--starry-text-color-7);
        font-size: 14px;
    }

    .starry-result-title {
        color: var(--starry-text-color-7);
        font-size: 14px;
    }
}