.starry-radio {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    color: var(--starry-text-color-1);
    font-size: 14px;
    border-radius: 50px;
    transition: var(--starry-form-transition);

    .icon-radio-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        height: 18px;
        border: 2px var(--starry-form-border-color-hover) solid;
        box-sizing: border-box;
        transition: var(--starry-form-transition);
        overflow: hidden;
        border-radius: 50%;
        background-color: var(--starry-bgcolor-0);
        outline: 0px var(--starry-primary-color-light) solid;

        .icon-radio {
            width: 50%;
            height: 50%;
            background-color: var(--starry-white-color);
            transform: translateY(100%);
            opacity: 0;
            transition: var(--starry-form-transition);
            font-size: 12px;
            border-radius: 50%;
        }
    }

    .starry-radio-label {
        margin-left: 6px;
    }
}

.starry-radio-small {
    font-size: 13px;

    .icon-radio-box {
        width: 14px;
        height: 14px;
    }
}

.starry-radio-medium {
    font-size: 14px;

    .icon-radio-box {
        width: 16px;
        height: 16px;
    }
}

.starry-radio-large {
    font-size: 15px;

    .icon-radio-box {
        width: 18px;
        height: 18px;
    }
}

.starry-radio-unicon.starry-radio-block {
    padding: 4px 12px;

    .starry-radio-label {
        color: var(--starry-text-color-6);
    }
}

.starry-radio-unicon.starry-radio-checked.starry-radio-block {
    .starry-radio-label {
        color: var(--starry-primary-color-dark);
    }
}

.starry-radio:hover {
    .icon-radio-box {
        border: 2px var(--starry-form-border-color-active) solid;
        outline: 3px var(--starry-primary-color-light) solid;
    }
}

.starry-radio-block {
    background: var(--starry-form-bgcolor);
    border: var(--starry-form-border-width) rgba(0, 0, 0, 0) solid;
    padding: 3px 8px 3px 4px;
    border-radius: 50px;

    .starry-radio-label {
        margin-left: 2px;
    }
}

.starry-radio-block:hover {
    background: var(--starry-form-bgcolor-hover);
}

.starry-radio-block:active {
    background: var(--starry-form-bgcolor-active);
}

.starry-radio-checked.starry-radio-block {
    border: var(--starry-form-border-width) var(--starry-primary-color) solid;
    background: var(--starry-primary-color-light);
    color: var(--starry-primary-color-dark);
}

.starry-radio-checked.starry-radio-block:hover {
    border: var(--starry-form-border-width) var(--starry-primary-color) solid;
    background: var(--starry-primary-color-light);
    color: var(--starry-primary-color-dark);
}

.starry-radio-checked {
    .icon-radio-box {
        border: 2px var(--starry-primary-color) solid;
        background: var(--starry-primary-color);

        .icon-radio {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}

.starry-radio-checked:hover {
    .icon-radio-box {
        border: 2px var(--starry-primary-color) solid;
        background: var(--starry-primary-color);
    }
}

.starry-radio-block.starry-radio-checked {
    .icon-radio-box {
        border: 2px var(--starry-primary-color-light) solid;
        background: var(--starry-primary-color-light);

        .icon-radio {
            background-color: var(--starry-primary-color-dark);
            opacity: 1;
            transform: translateY(0%) scale(1.15);
        }
    }
}

.starry-radio-block.starry-radio-checked:hover {
    background: var(--starry-primary-color-light);

    .icon-radio-box {
        border: 2px var(--starry-primary-color-light) solid;
    }

    .icon-radio {
        background-color: var(--starry-primary-color-dark);
        opacity: 1;
        transform: translateY(0%) scale(1.15);
    }
}

.starry-radio-disabled {
    cursor: no-drop;
    opacity: var(--starry-disabled-opacity);
}

.starry-radio-disabled:hover {
    .icon-radio-box {
        border: 2px var(--starry-form-border-color-hover) solid;
        outline: var(--starry-form-bgcolor);
    }
}


.starry-radio-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.starry-radio-group-small {
    min-height: var(--starry-form-item-height-small);
}

.starry-radio-group-medium {
    min-height: var(--starry-form-item-height-medium);
}

.starry-radio-group-large {
    min-height: var(--starry-form-item-height-large);
}

.starry-radio-group.starry-radio-group-x {
    flex-direction: row;
}

.starry-radio-group.starry-radio-group-y {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}